# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node / React (Para quando formos mexer no frontend)
node_modules/
dist/
build/
.DS_Store

# videos que colocamos
backend/uploads/
*.mp4
*.mov
*.avi